.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: -webkit-fill-available;
  padding: 0.5rem 0rem;
  color: var(--primary-color);
}

.chats {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -webkit-fill-available;
  color: var(--primary-color);
  gap: 0.5rem;
  height: calc(100vh - 9rem);
  overflow-y: scroll;
}

.loading {
  width: -webkit-fill-available;
  padding-left: 5%;
}
