.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
}
.popup {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 40vw;
  height: auto;
  text-align: left;
  position: relative;
  transition:
    transform 0.3s ease-out,
    opacity 0.3s ease-out;
  animation: bump 0.5s ease forwards;
}
@keyframes bump {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.popup > h1 {
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  font-size: 35px;
  cursor: pointer;
  transition: color 0.2s;
}

.closeButton:hover,
.closeButton:focus {
  color: #ff5050;
}

.content {
  margin-top: 20px;
  line-height: 1.6;
  word-wrap: break-word;
}

.item {
  margin-bottom: 10px;
}

.item span {
  width: 80px;
  text-transform: capitalize;
  font-weight: 500;
}

@media (max-width: 600px) {
  .popup {
    width: 80vw;
    padding: 1rem;
  }
}
