.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 3.5rem);
  padding-top: 3.5rem;
  width: -webkit-fill-available;
  position: relative;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: -webkit-fill-available;
  color: var(--white-color);
}
