body {
  margin: 0;
  padding: 0;
  max-width: 1800px;
  margin: auto;
  position: relative;
  scroll-behavior: smooth;
  background-color: var(--bg-primary);
  background-image: var(--background-image);
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}
::-webkit-scrollbar {
  display: none;
}

:root {
  /* COLOR OF SITE */
  --bg-primary: #18191a;
  --background-image: radial-gradient(50% 50% at 50% 50%, #2172e51a 0, #21242900 100%);
  --primary-color: rgb(90, 145, 234);
  --secondary-color: rgb(39, 85, 157);
  --tertiary-color: rgb(16, 48, 99);

  --title-color: #3d3e48;
  --para-color: #a8a7ab;
  --light-title-color: #79747e;

  --dark-color: #153530;
  --light-color: #295943;

  --white-color: #ffffff;
  --black-color: #000000;

  --light-white-color: #f5f5f5;
  --light-black-color: #242526;

  --user-bg: #2f2f2f;
  --model-bg: #1f1f1f;
  --message-color: #404040;
  --message-user-color: #262424;
  --toogle-button-bg: #9b9b9b;
  --link-hover: #d1d1d1;

  --btn-color: #43b97f;
  --btn-active-color: #295943;
  --btn-hover-color: #153530;

  --light-warn-color: #ff8682;
  --icons-color: #1976d2;
  --dark-icons-color: #1877f2;

  --yellow-color: #f5a623;

  /* --clr: #0ff0fc; */
  --clr: rgb(62, 205, 213);
  --accent-color: #ccc;

  /* Loading */
  --bg: #454954;
  --fg: #e3e4e8;
  --fg-t: rgba(227, 228, 232, 0.5);
  --primary1: #255ff4;
  --primary2: #5583f6;
  --trans-dur: 0.3s;
  font-size: calc(16px + (20 - 16) * (100vw - 320px) / (1280 - 320));

  /*  insight ai page*/
  --transition-speed: 0.3s;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --hover-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);

  /* FONT SIZE */
  --ft-100: 0.5rem;
  --ft-200: 0.625rem;
  --ft-300: 0.75rem;
  --ft-350: 0.875rem;
  --ft-400: 1rem;
  --ft-450: 1.125rem;
  --ft-500: 1.25rem;
  --ft-600: 1.5rem;
  --ft-650: 1.625rem;
  --ft-700: 1.75rem;
  --ft-800: 2.5rem;
  --ft-900: 3.375rem;
  --ft-1000: 4.5rem;

  /* PADDING */
  --pd-100: 0.5rem;
  --pd-300: 0.75rem;
  --pd-350: 0.875rem;
  --pd-400: 1rem;
  --pd-450: 1.125rem;
  --pd-500: 1.25rem;
  --pd-600: 1.5rem;
  --pd-650: 1.625rem;
  --pd-700: 1.75rem;
  --pd-800: 2.5rem;
  --pd-900: 3.375rem;

  /* BORDER RADIUS */
  --br-300: 0.125rem;
  --br-350: 0.25rem;
  --br-400: 0.375rem;
  --br-450: 0.5rem;
  --br-500: 0.625rem;
  --br-600: 0.75rem;
  --br-650: 0.875rem;
  --br-700: 1rem;
  --br-800: 1.25rem;
  --br-900: 1.5rem;

  /* BOX SHADOW */
  --box-shadow-radius: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --box-shadow-small-outset: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --box-shadow-small-inset: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  --box-shadow-medium-inradiuset: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  --box-shadow-larger-outset: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

  /*BACKGROUND COLOR  */
  --background-color: linear-gradient(126deg, #ffffff 4.79%, #f5f5f5 95.5%);
  --background-color-reverse: linear-gradient(126deg, #f5f5f5 4.79%, #ffffff 95.5%);
  --text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (prefers-color-scheme: dark) {
  :root {
    --pd-300: 0.75rem;
  }
}
