.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container > .heading {
  color: var(--light-title-color);
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.box__images {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.box__images > img {
  width: 240px;
  height: 135px;
  border-radius: 4px;
  object-fit: cover;
}
