.container {
  width: 80vw;
}

.container > .heading {
  color: var(--light-title-color);
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
}

.box__images {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: -webkit-fill-available;
  overflow-x: scroll;
}

.box__images > img {
  width: 240px;
  height: 135px;
  border-radius: 4px;
  object-fit: cover;
}
