.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container > h1 {
  color: var(--light-title-color);
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

.external__references_box {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.external__references_box > a {
  text-decoration: none;
  font-size: 0.6rem;
  color: var(--white-color);
  background-color: var(--toogle-button-bg);
  padding: 0.1rem 0.5rem;
  border-radius: 15px;
  cursor: pointer;
  text-transform: capitalize;
  width: max-content;
}

.external__references_box > a:hover {
  color: var(--link-hover);
}
