.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-x: hidden;
}

.container > h1 {
  color: var(--light-title-color);
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.box__images {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--length));
  position: relative;
  height: var(--height);
  overflow-x: hidden;
}

.box__images > img {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  animation-delay: calc((10s / var(--length)) * (var(--index) - 1) - 10s) !important;
  border-radius: 4px;
  object-fit: cover;
}

@keyframes autoRun {
  0% {
    left: 100%;
  }
  100% {
    left: calc(var(--width) * -1);
  }
}

.box__images:hover img {
  animation-play-state: paused !important;
}
