.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5rem;
  gap: 0.5rem;
  width: -webkit-fill-available;
  padding-bottom: 1rem;
}
