.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  width: -webkit-fill-available;
}

.container > h1 {
  color: var(--white-color);
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.sources__links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: -webkit-fill-available;
}
.sources__links > a {
  text-decoration: none;
  font-size: 0.75rem;
  color: var(--primary-color);
  cursor: pointer;
}

.sources__links > a:not(:last-child)::after {
  content: ",";
  font-size: 0.85rem;
  font-weight: bold;
  padding-left: 0.25rem;
}

.show-all-button {
  background: none;
  border: none;
  color: var(--white-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.show-all-button:hover {
  text-decoration: underline;
}

.show-all-button > svg {
  color: var(--white-color);
  font-size: 1.25rem;
}
