.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: -webkit-fill-available;
}

.container > .heading {
  color: var(--light-title-color);
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

.sources__links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: -webkit-fill-available;
}
.sources__links > a {
  text-decoration: none;
  font-size: 0.7rem;
  color: var(--primary-color);
  cursor: pointer;
}

.show-all-button {
  background: none;
  border: none;
  color: var(--white-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.show-all-button:hover {
  text-decoration: underline;
}

.show-all-button > svg {
  color: var(--white-color);
  font-size: 1rem;
}
