.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container > h1 {
  color: var(--white-color);
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.external__references_box {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.external__references_box > a {
  text-decoration: none;
  cursor: pointer;
  text-transform: capitalize;
  color: var(--primary-color);
  font-size: 0.75rem;
  padding-right: 0.25rem;
}

.external__references_box > a:not(:last-child) {
  border-right: 1px solid var(--primary-color);
}

.external__references_box > a:hover {
  color: var(--link-hover);
}
