{
  "arrowParens": "avoid",
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "es5",
  "importOrder": ["^react$", "^next/(.)$", "<THIRD_PARTY_MODULES>", "^/(.)$"],
  "importOrderSortSpecifiers": true,
  "endOfLine": "lf"
}
